template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_fortinet_demo_name": {
            "defaultValue": "fortinet_demo",
            "type": "String"
        },
        "connections_azuresentinel_fortinet_demo_name": {
            "defaultValue": "azuresentinel-fortinet_demo",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azuresentinel_fortinet_demo_name')]",
            "location": "eastus",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('connections_azuresentinel_fortinet_demo_name')]",
                "statuses": [
                    {
                        "status": "Ready"
                    }
                ],
                "customParameterValues": {},
                "alternativeParameterValues": {},
                "parameterValueType": "Alternative",
                "createdTime": "2025-03-05T12:54:58.3111027Z",
                "changedTime": "2025-03-05T12:54:58.3111027Z",
                "api": {
                    "name": "azuresentinel",
                    "displayName": "Microsoft Sentinel",
                    "description": "Cloud-native SIEM with a built-in AI so you can focus on what matters most",
                    "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1735/1.0.1735.4103/azuresentinel/icon.png",
                    "brandColor": "#0072C6",
                    "id": "/subscriptions/ba7f09b1-b6d1-4f56-8a5a-78fdd26eec94/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_fortinet_demo_name')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azuresentinel_fortinet_demo_name'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Entities",
                                        "type": "array",
                                        "value": "@triggerBody()?['object']?['properties']?['relatedEntities']"
                                    }
                                ]
                            }
                        },
                        "Filter_array": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@variables('Entities')",
                                "where": "@equals(item()?['kind'],'Ip')"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Filter_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Filter_array')",
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "type": "object",
                                                "properties": {
                                                    "address": {
                                                        "type": "string"
                                                    },
                                                    "friendlyName": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "name",
                                            "type",
                                            "kind",
                                            "properties"
                                        ]
                                    }
                                }
                            }
                        },
                        "Select": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Parse_JSON')",
                                "select": {
                                    "address": "@{item()['properties']['address']}"
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Select')",
                            "actions": {
                                "HTTP_Add_IP": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://yourfirewalldomain/api/v2/cmdb/firewall/address",
                                        "method": "POST",
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "Authorization": "Bearer <your bearer token>"
                                        },
                                        "body": {
                                            "name": "Sentinel_Malicious_IP_@{items('For_each')?['address']}",
                                            "subnet": "@{items('For_each')?['address']}/32",
                                            "type": "ipmask"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "HTTP_Add_to_Group": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://yourfirewalldomain.com/api/v2/cmdb/firewall/addrgrp/BadActors/member",
                                        "method": "POST",
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "Authorization": "Bearer <your bearer token>"
                                        },
                                        "body": {
                                            "name": "Sentinel_Malicious_IP_@{items('For_each')?['address']}"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Select": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/ba7f09b1-b6d1-4f56-8a5a-78fdd26eec94/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azuresentinel_fortinet_demo_name'))]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_fortinet_demo_name'))]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}
